.csv-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.csv-upload-content {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.csv-upload-heading {
  text-align: center;
  margin-bottom: 20px;
}

.file-upload-label {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload-label:hover {
  background-color: #45a049;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.csv-table {
  border-collapse: collapse;
  width: 100%;
}

.csv-table td, .csv-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.csv-table th {
  background-color: #f2f2f2;
}
